body{
  background-color: #637A9F;
}

.parent {
  text-align: center;
  margin-top: 50px;
  border-radius: 15px;
  font-family:Arial, Helvetica, sans-serif;
}

.form {
  max-width: 400px;
  margin: auto;
}

.message {
  margin-bottom: 10px;
}

.successMessage {
  color: rgb(110, 218, 110);
  font-weight: bold;
}

.inputContainer {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 80%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
}

.error {
  color: red;
  font-size: 0.8em;
  margin: 5px;
}

.submitButton {
  background: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background-color: #E8C872;
  
}

a{
  text-decoration: none;
  color: black;
}

.top-right{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFBB64;   
}

body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}